In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sys
from functools import reduce
from collections import OrderedDict, Counter

In [2]:
# Raw data file
file_to_load = "Resources/purchase_data.csv"

In [3]:
# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data=pd.DataFrame(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
### Total Number of Players:
print("### Total Number of Players:")
total_players=pd.DataFrame({"Total Players":purchase_data['SN'].unique().shape[0]},index=["T"])
print(total_players)

### Total Number of Players:
   Total Players
T            576

In [6]:
### Purchasing Analysis (Total):
print("### Purchasing Analysis (Total):")
column_names=["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]
values=[purchase_data["Item ID"].unique().shape[0],\
         purchase_data["Price"].mean(),\
                purchase_data.shape[0],\
                   purchase_data["Price"].sum()   \
                      ]
aa=[{column_names[i]:values[i] for i in range(4)} ]
#print(aa)
Purchasing_Analysis_Total=pd.DataFrame(aa)
Purchasing_Analysis_Total.rename(index={0:"T"},inplace=True)
pd.set_option('precision',2)
print(Purchasing_Analysis_Total)

### Purchasing Analysis (Total):
   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
T           3.05                  780                     183        2379.77

In [7]:
###Gender Demographics:
print("###Gender Demographics:")
Gender_data=purchase_data[['SN','Age','Gender']].drop_duplicates() # value_counts()
tot=Gender_data.shape[0]
Gender_data1=Gender_data.groupby("Gender").count()
Gender_data1.rename(columns={"SN":"count","Age":"percentage"},inplace=True)
Gender_data1["percentage"]=Gender_data1["count"]/tot
Gender_data1["percentage"] = pd.Series(["{0:.2f}%".format(val * 100) for val in Gender_data1["percentage"]], index = Gender_data1["percentage"].index)
print(Gender_data1)

###Gender Demographics:
                       count percentage
Gender
Female                    81     14.06%
Male                     484     84.03%
Other / Non-Disclosed     11      1.91%

In [19]:
###Purchasing Analysis (Gender):
print("###Purchasing Analysis (Gender): ('Average Purchase Total per Person by Gender' is abreviated as 'APTpP_Gender')")
Purchase_Gender=purchase_data.groupby(['Gender'])
Gender_groups_count=purchase_data.groupby(['Gender','SN']).size().groupby('Gender').count()
print(purchase_data.groupby(['Gender','SN']).count())
column_names=["PurchaseCount","AveragePrice","TotalValue","APTpP_Gender"]
values=[Purchase_Gender["Purchase ID"].count(),\
         Purchase_Gender["Price"].mean(),\
                Purchase_Gender["Price"].sum(),\
                   Purchase_Gender["Price"].sum()/Gender_groups_count ]
#values=Series.to_frame
values=[value.to_frame() for value in values]
#pd.concat combine list of data_frames to a bigger DataFrame: 
# https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes
df_merged_gender = reduce(lambda  left,right: pd.merge(left,right,left_index=True,right_index=True), values)
df_merged_gender.columns=column_names
#print(df_merged_gender)

###Purchasing Analysis (Gender): ('Average Purchase Total per Person by Gender' is abreviated as 'APTpP_Gender')

IndexError: tuple index out of range